.logobar img {
  width: 100%;
  height: auto;
  max-width: 60px;
  max-height: 40px;
}
.logobar img.high {
  max-height: 60px;
}
.logobar img.low {
  max-height: 25px;
}
.logobar img.wide {
  max-width: 90px;
}
.table.table-invert {
  color: white;
}
.table.table-invert th, .table.table-invert td {
  border-color: rgba(255, 255, 255, 0.35);
}